
{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{% block object-tools-items %}
    <li>
        <a href="/website-tracking/admin/web_snapshot/diffcontent/?new_snapshot__web_source_id={{ object_id }}"
           target="_blank">{% trans "View DiffContents" %}
        </a>
    </li>
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
{% endblock %}
