<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Please remove these fonts once you connect this template with a postlogin apps -->
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:100,200,300,400,400i,500,600,700&display=swap" rel="stylesheet">

  <!-- Bootstarp 4.0 is what we are using here -->
  <link rel="stylesheet" href="{{ MEDIA_URL }}css/vendors/bootstrap/4.0.0/bootstrap.min.css">

  <link rel="stylesheet" href="../static/change_log.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div class="container website-tracker">
    <div class="row">
      <div class="col-md-3 changelog-container">
        <div class="container-meta">
          <p class="label--01 text-02 margin--0 margin-bottom--2">5 updates</p>
          <p class="productive--heading-03 text-01 margin--0">Changelog</p>
        </div>
        <div class="info-block">
          <ul class="logs-list">
            <li class="logs-list--data ">
              <p class="label--01 text-05 margin--0 margin-bottom--2"> 20 June 2021</p>
              <p class="body--short-02 text-01 margin--0">
                Lorem ipsum dolor sit amet; consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              </p>
            </li>
            <!-- Add class selected in the respective li elements to show style -->
            <li class="logs-list--data selected">
              <p class="label--01 text-05 margin--0 margin-bottom--2"> 20 June 2021</p>
              <p class="body--short-02 text-01 margin--0">
                Lorem ipsum dolor sit amet; consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              </p>
            </li>
            <li class="logs-list--data">
              <p class="label--01 text-05 margin--0 margin-bottom--2"> 20 June 2021</p>
              <p class="body--short-02 text-01 margin--0">
                Lorem ipsum dolor sit amet; consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              </p>
            </li>
            <li class="logs-list--data">
              <p class="label--01 text-05 margin--0 margin-bottom--2"> 20 June 2021</p>
              <p class="body--short-02 text-01 margin--0">
                Lorem ipsum dolor sit amet; consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9 webchange-container">
        <div class="row info-container">
          <div class="col-md-8">
            <p class="label--01 text-05 margin--0 margin-bottom--2">16 June 2019</p>
            <p class="productive--heading-02 text-01 margin--0 margin-bottom--4">Scelerisque fermentum dui faucibus in ornare quam viverra; Semper viverra nam libero</p>
            <p class="body--long-02 text-01 margin--0">
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a class="bx--link" href="">Visit page →</a></p>
            <div class="height-32"></div>
            <div class="tag-block">
              <span class="bx--tag">Cyber Security</span>
              <span class="bx--tag">New Offerings</span>
            </div>

          </div>
          <div class="col-md-12">
            <!-- Website image goes here -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/vendor/modernizr-3.8.0.min.js"></script>
   <script src="{{ MEDIA_URL }}js/vendors/jquery/3.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
